# data — never committed
*.h5
*.tiff
*.tif
# block large data npy files but allow sacred index files
*.npy
!assets/index_digits.npy
!assets/index_letters.npy
!assets/list_sorted_emnist.npy
hdf5_output/
data/

# python
__pycache__/
*.pyc
*.pyo
.env

# checkpoints — too large
checkpoints/
*.pt

# notebooks output
.ipynb_checkpoints/

# wandb local files
wandb/